.nav-link {
    margin: 0;
    text-decoration: none;
    font-size: 0.5rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    padding: 2px 0;
}

.active {
    color: red;
    border-bottom: 2px solid red;
}
